/* Import from main.css the constants value */
@import './index.css';
/* Format the navbar logo position */
.navbar_logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/*Format the login, password and button input*/
#msg_joinnow{
    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    transition: ease 1s ease;
}
.msg_text{
    color:var(--dark_green);
    margin: 3px;
}
.password_login_Access{
    margin-top: 20px;
}
#eye_Button{
    position: relative;
    top: -39px;
    right: -300px;
    cursor: pointer;
    color:var(--dark_green);
}
#eye_Button_password{
    position: relative;
    top: -39px;
    right: -345px;
    cursor: pointer;
    color:var(--dark_green);
}
#eye_Button_confirm_password{
    position: relative;
    top: -39px;
    right: -345px;
    cursor: pointer;
    color:var(--dark_green);
}
.button_submit{
    display: block;
    text-align: center;
    margin: 30px auto;
}
.button_submit button{
    width: 100px;
    height: 45px;
    cursor: pointer;
    background-color: var(--dark_green);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 0.8em;
    color: var(--white);
}
.button_submit button:hover{
    background-color: var(--dark_green);
    box-shadow: 1px 5px 5px var(--light_white);
    transition: .5s;
}
.button_submit button:active{
    background-color: var(--dark_green);
    box-shadow: 1px 5px 5px var(--light_white);
    transform: translateY(2px);
}
#userRegisterLink {
    margin: 20px;
    font-size: 1em;
}
#userRegisterLink a{
    text-decoration: none;
    color: var(--light_grey);
}
#userRegisterLink a:hover{
    text-decoration: underline;
    color: var(--light_grey);
    cursor: pointer;
}
.text_selector{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin:0 5px 20px 0;
}
.text_selector .input_selector{
    appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid var(--dark_green);
    border-radius: 50%;
    margin-right: 6px;
}
.text_selector .input_selector:before{
    content: "";
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--dark_green);
    opacity: 0;
}
.text_selector .input_selector:checked:before{
    opacity: 1;
}
